#shape {
    .triangle(up, @size, @color) {
        .square(0);
        border-bottom: @size solid @color;
        border-left: @size/2 solid transparent;
        border-right: @size/2 solid transparent;
    }
}