// Apply 'display:box;' to an element.
// - must be used for any of the other flexbox mixins to work properly
.display-box {
    display: flexbox;
    display: -webkit-box;
    display:    -moz-box;
    display:     -ms-box;
    display:         box;
}