#box {
    // Takes an int argument for box flex. Apply this to the children inside the box.
    .flex(@ratio) {
        -webkit-box-flex: @ratio;
        -moz-box-flex: @ratio;
        -ms-box-flex: @ratio;
        box-flex: @ratio;
    }
}
