// .animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {


.animation (...) {
    -webkit-animation-name: @arguments;
    -moz-animation-name: @arguments;
    -ms-animation-name: @arguments;
    -o-animation-name: @arguments;
    animation-name: @arguments;
}

.animated(@speed: 1s) {
    -webkit-animation-duration: @speed;
    -moz-animation-duration: @speed;
    -o-animation-duration: @speed;
    animation-duration: @speed;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*
.keyframes (@name, @frames) {
    @-webkit-keyframes @name {@frames}
    @-moz-keyframes @name {@frames}
    @-ms-keyframes @name {@frames}
    @-o-keyframes @name {@frames}
    @keyframes @name {@frames}
}




.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -ms-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}





*/


