.animation(...) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -ms-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}

.animation-name(@name) {
    -webkit-animation-name: @name;
    -moz-animation-name: @name;
    -o-animation-name: @name;
    animation-name: @name;
}


.animated(@speed: 1s) {
    -webkit-animation-duration: @speed;
    -moz-animation-duration: @speed;
    -o-animation-duration: @speed;
    animation-duration: @speed;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}


