// dev.w3.org/csswg/css3-transforms/


.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}

.rotate(@degrees) {
    .transform( rotate(@degrees) );
}
.scale(@ratio) {
    .transform( scale(@ratio) );
}
//scaleX
//scaleY
.skew(@x, @y) {
    .transform( skew(@x, @y) );
    -webkit-backface-visibility: hidden; // See https://github.com/twitter/bootstrap/issues/5319
}

.translate(@x, @y) {
    .transform( translate(@x, @y) );
}
